<!doctype html>
<html lang="en">
<head>
    <title>Queer Toronto</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicons for Firefox & Chrome -->
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">

    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="/img/favicons/favicon.ico" >
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico"/>
    
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <header><img src="/img/logo.png" alt="Queer Toronto Logo" width="80"></header>
    {{{body}}}
</body>
</html>
