@import '../variables';
@import url(https://fonts.googleapis.com/css?family=Mali);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 15px 0;
}

fieldset {
  display: block;
  padding: 25px 30px;
  border: none;
  background: $form-background-color;
  border-bottom: $border-line;
}

.description-text {
  font: 13px 'Mali', Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 20px;
}

.h2-clickable {
  color: black;
}

.clickable {
  cursor: pointer;
}

.contact-heading {
  font: 12px 'Mali', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.contact-text {
  font: 12px 'Anonymous Pro', Garamond, 'Times New Roman', serif;
}

.fab,
.fas {
  position: relative;
  top: 11px;
}

.fas-clickable {
  top: 0px;
  color: black;
  width: 15px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-youtube {
  color: #ff0000;
}

.fa-instagram {
  color: #8a3ab9;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-pinterest {
  color: #c8232c;
}

.fa-google-plus {
  color: #cc3333;
}

.fa-rss-square {
  color: #ee802f;
}

.fa-spotify {
  color: #84bd00;
}

.fa-tumblr-square {
  color: #34526f;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
