h1{
	margin:25px 0;
}

button.btn.btn-lg{
	margin:0 0 25px;
}

.container.embed-form{
	padding:0;
	margin:0 0 25px;
	
	.sky-form{
		margin:0;
	}
}

table.crud{
	td:first-child{
		width:100%;
		
		.first-line{
			font-size:1.25em;
			font-weight:bold;
		}
	}
		
	button{
		margin-left:0;
	}
}