
		<div class="body">			
		
			<!-- Red color scheme -->
			<form action="" class="sky-form" />
				<header>form</header>
				
				<fieldset>
					<section>
						<label class="label">Text input</label>
						<label class="input">
							<input type="text" placeholder="Lorem ipsum dolor sit amet"/>
						</label>
					</section>
					
					<section>
						<label class="label">File input</label>
						<label for="file" class="input input-file">
							<div class="button"><input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value" />Browse</div><input type="text" readonly="" />
						</label>
					</section>					
						
					<section>
                <label class="label">Input with autocomplete</label>
                <label class="input">
                    <input type="text" list="list" placeholder="States of USA"/>
                    <datalist id="list">
                        <option value="Alabama" />
                        <option value="Alaska" />
                        <option value="Arizona" />
                        <option value="Arkansas" />
                        <option value="California" />
                        <option value="Colorado" />
                        <option value="Connecticut" />
                        <option value="Delaware" />
                        <option value="Florida" />
                        <option value="Georgia" />
                        <option value="Hawaii" />
                        <option value="Idaho" />
                        <option value="Illinois" />
                        <option value="Indiana" />
                        <option value="Iowa" />
                        <option value="Kansas" />
                        <option value="Kentucky" />
                        <option value="Louisiana" />
                        <option value="Maine" />
                        <option value="Maryland" />
                        <option value="Massachusetts" />
                        <option value="Michigan" />
                        <option value="Minnesota" />
                        <option value="Mississippi" />
                        <option value="Missouri" />
                        <option value="Montana" />
                        <option value="Nebraska" />
                        <option value="Nevada" />
                        <option value="New Hampshire" />
                        <option value="New Jersey" />
                        <option value="New Mexico" />
                        <option value="New York" />
                        <option value="North Carolina" />
                        <option value="North Dakota" />
                        <option value="Ohio" />
                        <option value="Oklahoma" />
                        <option value="Oregon" />
                        <option value="Pennsylvania" />
                        <option value="Rhode Island" />
                        <option value="South Carolina" />
                        <option value="South Dakota" />
                        <option value="Tennessee" />
                        <option value="Texas" />
                        <option value="Utah" />
                        <option value="Vermont" />
                        <option value="Virginia" />
                        <option value="Washington" />
                        <option value="West Virginia" />
                        <option value="Wisconsin" />
                        <option value="Wyoming" />
                    </datalist>
                </label>
                <div class="note"><strong>Note:</strong> works in Chrome, Firefox, Opera and IE10.</div>
            </section>
				</fieldset>
				
				<fieldset>
					<section>
                <label class="label">Select</label>
                <label class="select">
                    <select>
                        <option value="" />Choose state
                        <option value="CA" />California
                        <option value="FL" />Florida
                        <option value="IL" />Illinois
                        <option value="TX" />Texas
                    </select>
                    <i></i>
                </label>
            </section>
            <section>
                <label class="label">Multiple select</label>
                <label class="select select-multiple">
                    <select multiple>
                        <option value="AK" />Alaska
                        <option value="CA" />California
                        <option value="FL" />Florida
                        <option value="GA" />Georgia
                        <option value="IL" />Illinois
                        <option value="LA" />Louisiana
                        <option value="MI" />Michigan
                        <option value="PA" />Pennsylvania
                        <option value="TX" />Texas
                        <option value="WA" />Washington
                    </select>
                </label>
                <div class="note"><strong>Note:</strong> hold down the ctrl/cmd button to select multiple options.</div>
            </section>
				</fieldset>
				
				<fieldset>					
					<section>
						<label class="label">Textarea</label>
						<label class="textarea">
							<textarea rows="3"></textarea>
						</label>
						<div class="note"><strong>Note:</strong> height of the textarea depends on the rows attribute.</div>
					</section>
					
					<section>
						<label class="label">Textarea resizable</label>
						<label class="textarea textarea-resizable">
							<textarea rows="3"></textarea>
						</label>
					</section>
					
					<section>
						<label class="label">Textarea expandable</label>
						<label class="textarea textarea-expandable">
							<textarea rows="3"></textarea>
						</label>
						<div class="note"><strong>Note:</strong> expands on focus.</div>
					</section>
				</fieldset>
				
				 <fieldset>
            <section>
                <label class="label">Columned radios</label>
                <div class="row">
                    <div class="col col-4">
                        <label class="radio">
                            <input type="radio" name="radio" checked="" /><i></i>Alaska</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>California</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Florida</label>
                    </div>
                    <div class="col col-4">
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Texas</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Georgia</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Michigan</label>
                    </div>
                    <div class="col col-4">
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Hawaii</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Louisiana</label>
                        <label class="radio">
                            <input type="radio" name="radio" /><i></i>Maine</label>
                    </div>
                </div>
            </section>
            <section>
                <label class="label">Inline radios</label>
                <div class="inline-group">
                    <label class="radio">
                        <input type="radio" name="radio-inline" checked="" /><i></i>Alaska</label>
                    <label class="radio">
                        <input type="radio" name="radio-inline" /><i></i>California</label>
                    <label class="radio">
                        <input type="radio" name="radio-inline" /><i></i>Florida</label>
                    <label class="radio">
                        <input type="radio" name="radio-inline" /><i></i>Texas</label>
                    <label class="radio">
                        <input type="radio" name="radio-inline" /><i></i>Michigan</label>
                </div>
            </section>
        </fieldset>
        <fieldset>
            <section>
                <label class="label">Columned checkboxes</label>
                <div class="row">
                    <div class="col col-4">
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" checked="" /><i></i>Alaska</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>California</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Florida</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Texas</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Georgia</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Michigan</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Hawaii</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Louisiana</label>
                        <label class="checkbox">
                            <input type="checkbox" name="checkbox" /><i></i>Maine</label>
                    </div>
                </div>
            </section>
            <section>
                <label class="label">Inline checkboxes</label>
                <div class="inline-group">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" checked="" /><i></i>Alaska</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" /><i></i>California</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" /><i></i>Florida</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" /><i></i>Texas</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" /><i></i>Michigan</label>
                </div>
            </section>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-5">
                    <label class="label">Toggles based on radios</label>
                    <label class="toggle">
                        <input type="radio" name="radio-toggle" checked="" /><i></i>Alaska</label>
                    <label class="toggle">
                        <input type="radio" name="radio-toggle" /><i></i>Florida</label>
                    <label class="toggle">
                        <input type="radio" name="radio-toggle" /><i></i>Texas</label>
                </section>
                <div class="col col-2"></div>
                <section class="col col-5">
                    <label class="label">Toggles based on checkboxes</label>
                    <label class="toggle">
                        <input type="checkbox" name="checkbox-toggle" checked="" /><i></i>Hawaii</label>
                    <label class="toggle">
                        <input type="checkbox" name="checkbox-toggle" /><i></i>Louisiana</label>
                    <label class="toggle">
                        <input type="checkbox" name="checkbox-toggle" /><i></i>Maine</label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <section>
                <label class="label">Ratings with different icons</label>
                <div class="rating">
                    <input type="radio" name="stars-rating" id="stars-rating-5" />
                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-4" />
                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-3" />
                    <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-2" />
                    <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-1" />
                    <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                    Stars
                </div>
                <div class="rating">
                    <input type="radio" name="trophies-rating" id="trophies-rating-7" />
                    <label for="trophies-rating-7"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-6" />
                    <label for="trophies-rating-6"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-5" />
                    <label for="trophies-rating-5"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-4" />
                    <label for="trophies-rating-4"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-3" />
                    <label for="trophies-rating-3"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-2" />
                    <label for="trophies-rating-2"><i class="fa fa-trophy"></i></label>
                    <input type="radio" name="trophies-rating" id="trophies-rating-1" />
                    <label for="trophies-rating-1"><i class="fa fa-trophy"></i></label>
                    Trophies
                </div>
                <div class="rating">
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-10" />
                    <label for="asterisks-rating-10"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-9" />
                    <label for="asterisks-rating-9"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-8" />
                    <label for="asterisks-rating-8"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-7" />
                    <label for="asterisks-rating-7"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-6" />
                    <label for="asterisks-rating-6"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-5" />
                    <label for="asterisks-rating-5"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-4" />
                    <label for="asterisks-rating-4"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-3" />
                    <label for="asterisks-rating-3"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-2" />
                    <label for="asterisks-rating-2"><i class="fa fa-asterisk"></i></label>
                    <input type="radio" name="asterisks-rating" id="asterisks-rating-1" />
                    <label for="asterisks-rating-1"><i class="fa fa-asterisk"></i></label>
                    Asterisks
                </div>
                <div class="note"><strong>Note:</strong> you can use more than 300 vector icons for rating.</div>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="button">Submit</button>
            <button type="reset"  class="button button-secondary">Reset</button>
        </footer>
        </form>
		</div>
